@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-page {
  background-image: url("/src/assets/image-bg.png");
  background-color: #2f1f14;
  height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  /* gap: 0px; */
}
header {
  display: flex;
  /* flex */
  align-items: center;
  padding: 1rem;
}
.image {
  width: 18%;
  padding-left: 5rem;
}
img {
  width: 100%;
}
.home-page ul {
  display: flex;
  justify-content: space-around;
  width: 85%;
  color: white;
  background-color: #6f4436;
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 29.05px;
  /* text-align: left; */
}
nav {
  width: 70%;
  padding-left: 2rem;
}
.body-text {
  padding-left: 13rem;
}
.body-text h1 {
  font-family: "Pompiere";
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  padding-top: 1rem;
}
.body-text p {
  font-family: Galada;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
nav a:hover {
  background-color: white;
  color: #6f4436;
  padding: 8px 24px;
}

section {
  padding: 20px;
}

.active-section {
  background-color: white;
}
